@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    src: local('☺'),
       url('../fonts/montserrat/Montserrat-Regular.ttf') format('woff'),
       url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
}
