@import "normalize";
@import "variables";
@import "globals";

#hideAll {
  display: none;
}

a {
  text-decoration: none;
}

a.animated {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: black;
    z-index: -1;
  }

  &:hover::before {
    width: 100%;
    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;
  }
}

h2,
h4 {
  margin: 0px;
  padding: 0px;
}

.container-outer {
  margin: 0 auto;
  max-width: 1280px;
}

.masterheader {
  $logoWH: 330px;
  $logoClip: (-$logoWH * 0.4);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right $logoClip center;

  padding: 0px;
  margin-bottom: $gridWidth * 2;
  background-size: 0px 0px;

  @media (min-width: 768px) {
    background-size: 300px 300px;
    background-position: right ($logoClip / 2) center;
    padding-top: $gridWidth * 2;
    padding-bottom: $gridWidth * 2;
  }
  @media (min-width: 1024px) {
    background-size: 400px 400px;
    background-position: right ($logoClip / 4) center;
    padding-top: $gridWidth * 3;
    padding-bottom: $gridWidth * 3;
  }
  @media (min-width: 1280px) {
    background-size: 400px 400px;
    background-position: right (- $logoClip * 0.4) center;
    padding-top: $gridWidth * 3;
    padding-bottom: $gridWidth * 3;
    background-image: url(http://localhost:8888/finekost-website/public/images/ci/fk_minilogo.svg);
  }

  h1 {
    margin: 0;
    padding: 0;
    padding-top: $gridWidth;
    font-size: 46px;
    line-height: 48px;

    @media (min-width: 768px) {
      padding-right: 30%;
      font-size: 52px;
      line-height: 54px;
    }
    @media (min-width: 1024px) {
      padding-right: 30%;
      font-size: 64px;
      line-height: 67px;
    }
    @media (min-width: 1280px) {
      padding-right: 30%;
      font-size: 64px;
      line-height: 67px;
    }
  }

  p {
    width: 100%;
    margin-bottom: $gridWidth * 1;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 22px;
      width: 60%;
      margin-bottom: $gridWidth * 2;
    }
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 26px;
      width: 60%;
      margin-bottom: $gridWidth * 3;
    }
  }
}

.footer {
  border-top: 1px solid $colorDark;
  margin-top: 40px;
  padding-bottom: 40px;

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  ul {
    padding: 0px;
    list-style-type: none;

    li.hl {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0px;
    }
  }
}

.footer-end {
  background-color: #ccc;
}

.expertise {
  p.maintext {
    width: 100%;
    margin-bottom: $gridWidth * 2;
  }

  .container-expertise {
    &:after {
      display: block;
      content: " ";
      clear: both;
    }

    .expertise-single {
      float: left;
      width: 100%;
      margin-bottom: $gridWidth * 1;

      @media (min-width: 1024px) {
        width: 50%;
      }

      h5 {
        margin: 0;
        padding: 0;
        font-size: 18px;
      }

      &:after {
        display: block;
        content: " ";
        clear: both;
      }

      .img {
        display: block;
        width: 20%;
        margin-right: 10%;
        float: left;
      }

      .text {
        width: 70%;
        margin-right: 0%;
        display: block;
        float: left;

        @media (min-width: 1024px) {
          width: 60%;
        }
      }
    }
  }
}
